/* General styling for the camera row */

.camera-object {
    display: flex;
    flex-direction: column;
    background-color: #0D253F;
    border-radius: 3px;
    border: #265C66;
    padding: 0 10px 5px 10px;
    color: #F2F2F2;
    margin: 1px;
    transition: transform 0.2s ease;
}
    .camera-object:hover {
        border: 1px solid #007466;
        background-color: #004445;
        transform: scale(1.01);
    }
        .camera-object:hover .name {
        font-size: 32px;        
        }
        .camera-object:hover .status-image {
            width: 32px;
            height: 32px;
        }

.camera-object-details summary {
    list-style: none;
    cursor: pointer;
}

.camera-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* For the status block on the far left */
.status {
    display: flex;
    align-items: center;
    margin-right: 1rem; /* You can adjust this */
}

.status-image {
    width: 14px;
    height: 14px;
}

.dropdown {
    position: relative;
    display: inline-block;
    background-color: transparent;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 100%; /* Make it take the full width of its parent */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 9999;
}

    .dropdown-content button {
        display: block; /* Stack them vertically */
        width: 100%; /* Full width */
        padding: 12px 16px;
        background-color: black; /* Adjust as needed */
        border: none; /* Remove default borders */
        color: white; /* Adjust text color as needed */
        cursor: pointer; /* Make it obvious it's clickable */
        text-align: left;
    }


        .dropdown-content button:hover {
            background-color: #ddd; /* Hover effect */
            color: black;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropbtn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}

/* Middle non-status block */
.non-status-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.name, .location, .last-modified {
    flex-basis: 33%; /* Equal width */
}

/* For the last modified block on the far right */
.last-modified {
    text-align: right;
}

/* For notes section */
.notes-row {
    margin-top: 1rem;
    background-color: black;
    border-radius: 5px;
    
}

.notes-section {
    padding: 1rem;
}

.single-note {
    background-color: #ffffff8d;
    border-radius: 5px;
    color: black;
    padding: 5px 8px;
    margin: 3px 0 1px 0;
    border: 1px solid black;
}

    .single-note:hover {
        background-color: white;
    }

.note-badge {
    font-weight: bold;
}

.custom-textarea {
    width: 100%; /* Takes the full width of its parent container */
    min-height: 200px; /* Sets the minimum height */
    padding: 10px; /* Adds some internal space */
    resize: vertical; /* Allows resizing in both dimensions */
    overflow: hidden; /* Adds scrollbar if the content overflows */
    border: 1px solid #ccc; /* Sets a border */
    border-radius: 4px; /* Rounds the corners */
    font-size: 16px; /* Sets the font size */
}

.submit-row {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

#submitButton {
    display: none;
}

/* Make the textarea invalid when empty */
textarea:invalid {
    border: 1px solid red;
}

/* Show the submit button when textarea is valid */
#noteInput:valid ~ #submitButton {
    display: block;
}


.past-cameras-details {
    padding: 5px;
    margin: 5px 0 0 0;
    transition: transform 0.2s ease;
    border-radius: 3px;
    color: #f7f7f77f;
    background-color: #141313;
    border: 1px solid #007466;
}
    .past-cameras-details:hover {
        border: 1px solid #141313;
        background-color: #004445;
        transform: scale(1.01);
        color: white;
    }   
.notes-list-section {
    margin-top: 20px;
    padding: 10px 5px;
    background-color: #141313;
    border-radius: 3px;
    color: #f7f7f77f;
}

