/* Global Styles */
.text-center {
    text-align: center;
}

.display-4 {
    font-size: 2.5em;
    margin-bottom: 80px;
}

/* Camera List Specific */
.camera-list {
    padding: 5px;
    margin-bottom: 90px;
}

.camera-list-details {
    padding: 5px;
    border-radius: 4px;
    transition: transform 0.2s ease;
}

    .camera-list-details:hover {
        border: 1px solid #007466;
        transform: scale(1.01);
        background-color: #141313;
    }

.location-list-summery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #cccccc7b;
    position: relative;
}

.location-list-header {
    margin: 0;
    flex-grow: 1;
    align-items: center;
}

.location-list-address {
    margin: 0;
    flex-grow: 1;
    font-size: 16px;
}

.camera-count {
    margin-left: 2px;
    justify-content: start;
}

.status-spacing {
    margin-right: 6px;
}

.status-container {
    display: inline-flex;
    justify-content: space-evenly;
    width: 40px;
    align-items: center;
}

.status-count {
    margin-left: 5px;
}

.camera-partial {
    padding: 5px;
    background-color: #171717;
    border-radius: 0 0 5px 5px;
}

.nameaddress-block {
}

.status-block {
    right: 0;
    justify-self: end;
}

.alarmdate-block {
    text-align: center;
}

.reset-thirtyday-btn {
    margin-bottom: 1rem;
}
    .reset-thirtyday-btn:hover {
        font-weight: bold;
    }
