<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NeoCorpSec</title>
    <link rel="shortcut icon" type="image/png" href="~/neocorpseclogo.png" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NeoCorpSec.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/views/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/views/shared/account-nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/views/shared/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/views/shared/camera/camera-object.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/views/shared/camera/location-list.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/shared/buttons.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <partial name="_NavbarPartial" />
                <div class="mr-2">
                    <partial name="_AccountNavPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - NeoCorpSec - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
