/* Custom styling for summary tag */
.admin-summary {
    display: flex;
    align-items: center;
    list-style: none;
}
/* Custom styling for h2 inside summary */
.admin-summary h2 {
    margin: 0;
}
/* Remove default arrow */
.admin-summary::-webkit-details-marker {
    display: none;
}
/* Add custom arrow */
.admin-summary::before {
    content: '▶';
    font-size: 1.5em;
    margin-right: 0.5em;
    transition: transform 0.2s ease-in-out;
}
/* Rotate custom arrow when details are open */
details[open] .admin-summary::before {
    transform: rotate(90deg);
}

.clickable-row {
    transition: transform 0.2s ease;
}

    .clickable-row:hover {
        border: 1px solid #007466;
        background-color: #004445;
        transform: scale(1.01);
    }

.admin-input-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-user-input-details:focus {
    border: 2px solid #007bff; /* Blue border */
    background-color: #f1f1f1;
    min-width: 400px/* Light gray background */
}

.admin-user-input-details:not(:focus) {
    border: 1px solid #ccc; /* Gray border */
    background-color: #fff; /* White background */
}

/* General Styles for Form Groups */
.form-group {
    margin-bottom: 20px;
}

    /* Label Styles */
    .form-group label {
        font-weight: bold;
        margin-bottom: 8px;
        display: inline-block;
    }

    /* Input and Select Styles */
    .form-group input,
    .form-group select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }


/* Button Styles */
.btn {
    padding: 10px 20px;
    font-size: 16px;
    margin-top: 20px;
}

/* Specific styles for different types of buttons */
.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.admin-section-container {
    border-radius: 3px;
    padding: 10px;
    border: #265C66;
}

    .admin-section-container:hover {
        border: 1px solid #007466;
        background-color: #004445;
    }

.admin-section-header {
    font-size: 18px;
}

/* For WebKit browsers like Chrome and Safari */
::placeholder {
    color: #999;
    font-style: italic;
}

/* For Firefox */
::-moz-placeholder {
    color: #999;
    font-style: italic;
    opacity: 1; /* Firefox adds an extra layer of opacity */
}

/* For Internet Explorer and Microsoft Edge */
:-ms-input-placeholder {
    color: #999;
    font-style: italic;
}

/* For Microsoft Edge */
::-ms-input-placeholder {
    color: #999;
    font-style: italic;
}
    
.admin-user-input-details::placeholder {
    color: #999;
    font-style: italic;
}
