@{
}

@model NeoCorpSec.Models.Authenitcation.LoginSecurityUser

<div class="outer-container">
    <div class="logo-container">
        <img src="~/images/neocorpseclogin.png" alt="NeoNova Logo" class="logo-image" />
    </div>

    <div class="login-container">
        <!-- Note the changes to asp-action and asp-controller below -->
        <form method="post" asp-action="LoginPost" asp-controller="SecurityUser" class="form-style">
            <div class="text-danger text-center" asp-validation-summary="ModelOnly"></div>

            <!-- Username -->
            <div class="form-group">
                <input type="text" asp-for="Username" class="form-control" placeholder="Username" />
                <span class="text-danger" asp-validation-for="Username"></span>
            </div>

            <!-- Password -->
            <div class="form-group form-group-margin">
                <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                <span class="text-danger" asp-validation-for="Password"></span>
            </div>

            <!-- Submit Button -->
            <div class="form-group form-group-padding">
                <input type="submit" class="btn w-100 action-button" value="Login" />
            </div>
        </form>
    </div>
    <div>
        @if (TempData["ApiError"] != null)
        {
            <div class="alert alert-danger text-center text-dark">
                @TempData["ApiError"]
            </div>
        }
    </div>
</div>

